<form method="post" action="{{ path('loan_delete', {'idLoan': loan.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir annuler cet emprunt  ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ loan.id) }}">
    <button class="btn btn-outline-secondary">Supprimer</button>
</form>
