{% extends 'base.html.twig' %}

{% block title %}- Nouveau prêt{% endblock %}

{% block body %}
<div class="container-fluid text-center p-5 bg-light border border-dark">
		<h1>Nouveau prêt</h1>
	</div>
    <div class="container d-flex justify-content-start my-5">
        <a class="btn btn-outline-secondary" href="{{ path('loan_index_admin', { 'idAdmin': app.user.id }) }}">Retour</a>
    </div>
	<div class="container text-center p-5 mt-5">

        {{ include('loan/_form.html.twig') }}
<button type="submit"> submit</button>
	</div>
{% endblock %}
